{% extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="product-navigation">
      <div class="container">
        <div class="shop-list-1">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li><a href=""><i class="fa fa-home"></i></a></li><i class="fa fa-angle-right"
                  style="color: #353535;font-weight: 700;"></i>
                <li><a href="">Products</a></li><i class="fa fa-angle-right"
                  style="color: #353535;font-weight: 700;"></i>
                <li><a href="">{{product.company}}</a> </li><i class="fa fa-angle-right"
                  style="color: #353535;font-weight: 700;"></i>
                <li>{{product.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="products-area">
      <div class="container">
        <div class="shop-list">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-12">
              <!--show here all product start -->
              <!-- <img src="../img/iphoneimage.jpg" alt=""> -->
              <div id="results">
                <img src="{{product.image.url}}" alt="" style="height: auto; width:50%; margin-left:25%;">
              </div>
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-12">
                  <button type="button" class="btn p-btn btn-lg clk-btn pro-c p-contact-button"
                    style="padding: 12px 20px;">Buy on WhatsApp</button>
                </div>
              </div>
              <!--show here all product end -->
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-5 col-12">
              <div class="product-profile">
                <h3>{{product.name}}</h3>
                <p>{{product.discrimination}}</p>
                <table class="table">
                  <tr>
                    <td class="table-point">JJ Brother Price:</td>
                    <td>₹ {{product.price}}</td>
                  </tr>

                  <tr>
                    <td class="table-point">Brand:</td>
                    <td>{{product.company}}</td>
                  </tr>
                  <tr>
                    <td class="table-point">Category:</td>
                    <td>{{product.category}}</td>
                  </tr>
                  <tr>
                    <td class="table-point">Color:</td>
                    <td class="color">
                      <ul class="brands" id="myid">
                        <li class="active" id="13">
                          <a href="javascript:void(0);" class="varient"><img
                              src="{{product.image.url}}">


                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>

                </table>

                <p class="offer-section">Keyspecs:</p>
                <ul>
                  <li>6.7-inch Super Retina XDR display</li>
                  <li>Ceramic Shield, tougher than any smartphone glass</li>
                  <li>A14 Bionic chip, the fastest chip ever in a smartphone</li>
                </ul>
                <span><a id="viewDetails">View All Specifications</a></span>


                <br>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="mt-50">
      </div>
      <section>

      </section>

      <div class="container">
        <div class="row productDescription" id="productDescription">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="product-description">
              <h2>Product Description</h2>
              <ul>
                <li>Pro camera system with 12MP Ultra Wide, Wide and Telephoto cameras; 5x optical zoom range; Night
                  mode, Deep Fusion, Smart HDR 3, Apple ProRAW, 4K Dolby Vision HDR recording</li>
                <li>LiDAR Scanner for improved AR experiences, Night mode portraits</li>
                <li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
                <li>Industry-leading IP68 water resistance</li>
                <li>Supports MagSafe accessories for easy attach and faster wireless charging</li>
                <li>iOS with redesigned widgets on the Home screen, all-new App Library, App Clips and more</li>
              </ul>
            </div>
          </div>
          
          
        </div>
        <br>
        <br>
        <br>

        

      </div>

      


    </div>
    </div>
    </div>
    </div>


    {% endblock %}