{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="product-navigation">
    <div class="container">
        <div class="shop-list-1">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                      <li><a href="index.html"><i class="fa fa-home"></i></a></li><i class="fa fa-angle-right" style="color: #353535;font-weight: 700;"></i>
                      <li>Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsfeed -->
<div class="product-area">
    
<div class="container">
    
<div class="shop-list m-b">
    
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
           <div class="view-cateory ">
               <p>More Category  <i class="fa fa-chevron-down p-icon" id="open-tab"></i> <i class="fa fa-chevron-up p-icon" id="close-tab"></i></p>
           </div> 
            <div class="cate-list" id="cate-list">
                
                <h3>Category</h3>{% for cat in sub_cat.all %}
                                            <ul>
                                                
                                                
                                                
                                                <li class=""><a href="/products/?category={{cat.id}}">{{cat.sub_category}}</a><span class="totalP"> </span> </li>
                                                                         </ul>
                                                                         {% endfor %}
                
                    
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p class="brandheadline">Smartphones & Accessories</p>
                </div>
                {% comment %} <div class="col-xl-3 col-lg-2 col-md-2 col-sm-2 col-6">
                    
                    <select class="form-control form-box mb-pos filtersby" id="sorting">
                        <option  selected="selected" disabled="disabled" >Sort by:Featured</option>
                        <option value="order by name ASC">Name (A-Z)</option>
                        <option value="order by name DESC">Name (Z-A)</option>
                        <option value="ORDER BY `product`.`retailprice` ASC">Price (Low to High)</option>
                        <option value="ORDER BY `product`.`retailprice` DESC">Price (High to Low)</option>
                    </select>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-2 col-sm-2 col-6">
                    <select class="form-control form-box mb-pos limit" id="limit">
                        <option value="25" selected="selected" >Show 25 Products</option>
                        <option value="50"><i class="fa fa-inr" aria-hidden="true"></i>50</option>
                        <option value="150"><i class="fa fa-inr" aria-hidden="true"></i>150</option>
                        <option value="200"><i class="fa fa-inr" aria-hidden="true"></i>200</option>
                    </select>
                </div> {% endcomment %}
            </div>
            
            <!--show here all product start -->
                <div id="results" >
            
                        <div class="row">
                            {% for i in prod %}
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            
                            <div class="pro-shop effct">
                              <a href="{% url 'detail' i.id %}"
                                title="{{i.name}} - {{i.discrimination}}">
                                <img src="{% static 'img/View.png' %}" class="img-fluid mx-auto  hover-icon" alt="Cactus Living">
                                <img src="{{i.image.url}}"
                                  class="img-fluid mx-auto d-block shop-product-img" alt="Cactus Living">
                                <h3>{{i.name}}</h3>
                                <h3>{{i.discrimination}}</h3>
                                <p>₹ {{i.price}}</p>
                              </a>
                              <center> <button class="clk-btn-2">Buy on WhatsApp</button>
                              </center>
                            </div>
                            
                          </div>
                          {% endfor %}
                        </div>
                       
                      </div>
            <!--show here all product end -->
            
        </div>
    </div>
    
</div>
</div>


{% endblock %}